* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&display=swap');

:root {
    --main-bg-color: #1d3557;
    --main-font-color: #f1faee;
    --main-red-color: #e63946;
}


/* font-family: 'Montserrat Alternates', sans-serif; */


h1,
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    color: var(--main-font-color);
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
}



.card {
    margin: 1.8rem;
    width: 20rem;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    background: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}

.card:hover {
    transform: scale(1.2, 1.2);
}

body {
    background: var(--main-bg-color) !important;
    overflow-x: hidden;
}